@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;500&family=Roboto&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

:root {
    --background-color: #E0BAAF;
    --button-background-color: #775aa5;
    --button-color: rgb(255 237 237);
    --button-border-color: #b3a19c;
    --button-border-color-shadow: rgba(100, 90, 86, 0.1);
    --success-color: #332443;
    --error-color: #d41010;
    --checkbox-background-color: rgb(255, 255, 255, .8);
    --socials-color: #3f3353;
    --slogan-color: #1d1727;
}

* {
    box-sizing: border-box;
    font-family: 'Chivo', sans-serif;
}

body, html {
    margin: 0;
    background-color: var(--background-color);
    width: 100vw;
    min-height: 100vh;
    display: flex;
}

a {
    color: #775aa5;
}

.header {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
}

.innerWrapper {
    display: flex;
    flex-direction: column;
    width: 66%;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
}

.logo {
    height: auto;
    width: 12rem;
    user-select: none;
}

.urlForm {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.urlInput {
    height: 4rem;
    min-width: 28rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: var(--button-border-color) 2px solid;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    font-size: 1.15em;
}

.urlInput:focus {
    box-shadow: 0px 0px 5px 5px var(--button-border-color-shadow);
    outline: none;
}

.urlSubmit {
    padding: 2rem;
    font-weight: 500;
    font-size: 1.5em;
    background-color: var(--button-background-color);
    border-radius: 0.5rem;
    text-align: center;
    color: var(--button-color);
    user-select: none;
}

.urlSubmit:hover {
    cursor: pointer;
    transform: scale(1.005);
    filter: brightness(105%);
}


.validationHeader {
    font-size: 1.8em;
    font-weight: bolder;
}

.success {
    color: var(--success-color)!important;
}

.error {
    color: var(--error-color)!important;
}

.submitOptions {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.submitOptionGroup {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    color: var(--success-color);
    font-weight: 500;
    align-items: center;
}

.submitOptionGroup > .checkBox {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid var(--button-background-color);
    border-radius: 0.25rem;
    font: inherit;
}

.qrDisplay {
    height: 12rem;
    width: auto;
    border-radius: 1rem;
}

.innerDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--success-color);
    gap: 0.5rem;
}

.submitDetails {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.standardButton {
    padding: 1rem;
    background-color: var(--button-background-color);
    border-radius: 0.5rem;
    color: var(--button-color);
    width: 100%;
    text-align: center;
}

.standardButton:hover {
    cursor: pointer;
    transform: scale(1.005);
    filter: brightness(105%);
}

#socials {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    align-self: center;
}

#socials > a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: center;
    color: var(--socials-color);
    opacity: 95%;
}

#socials > a:hover {
    cursor: pointer;
    filter: brightness(110%);
}

#socials > a > svg {
    width: 24px;
    height: 24px;
    color: var(--socials-color);
}

.slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    user-select: none;
}

.slogan > h1 {
    color: var(--slogan-color);
    margin: 0;
    font-family: 'Kaushan Script', cursive;
    font-size: 2.2em;
}

.slogan > span {
    font-size: 0.9em;
}

/* CHECKBOX NONSENSE */ 
input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--checkbox-background-color);
    margin: 0;
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 1rem;
    height: 1rem;
    transform: scale(0);
    transition: 30ms transform ease-in-out;
    box-shadow: inset 1rem 1rem var(--button-background-color);
    border-radius: 0.125rem;
  }

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

@media (max-width:600px) {
    .innerWrapper {
        width: 100%;
    }

    .innerForm {
        width: 80%;
    }

    .urlInput {
        min-width: 100%;
    }

    .submitDetails {
        flex-direction: column-reverse;
    }
}