<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Something</title>
    <!-- PACKAGES -->
    <script src="/static/packages/htmx.min.js"></script>
    <!-- SCRIPTS -->
    <script src="/static/scripts/general.js"></script>
    <!-- STYLES -->
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  </head>
  <body>
    
    <div class="container">
        <div class="innerWrapper" hx-trigger="load" hx-get="/api/web/socials" hx-target="#socials">
            <img src="/static/logo.png" class="logo">
            <div class="innerForm">
                <form class="urlForm">
                    <input name="url" type="url" class="urlInput" placeholder="Enter URL to Shorten...">
                    <div class="submitOptions">
                        <div class="submitOptionGroup">
                            <input type="checkbox" name="qrbox" value="QR" class="checkBox"><span>Generate QR?</span>
                        </div>
                    </div>
                    <span class="urlSubmit" hx-post="/api/web/create" hx-trigger="click" hx-target="#submitResponse">Shorten URL</span>
                </form>

                <div id="submitResponse"></div>
            </div>
        </div>

        <div id="socials"></div>
    </div>
  </body>
</html>